<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>F.Dle.Pw</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="shortcut icon" href="/img/favicon.ico">


    <meta http-equiv="refresh" content="30">
</head>

<body>
    <div id="app">
        <img src="/img/logo.svg" alt="F.Dle.Pw" height="24" />
        <br><code style="margin-left: 16px;">- Jinseo's File Storage</code>
        <hr>
        <file fname=".." class="folder"></file><% for(var i=0; i < files.length; i++) { %>    
        <file fname="<%=files[i].name %>" class="<%=files[i].type %>" ></file><% } %>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>
